@media (max-width: 420px) {
   body {
      background-color: rgb(255, 255, 255);
   }
   #containerToDo {
      background-color: transparent;
      box-shadow: none;
   }
   .boxButtonsTasks button {
      width: 28px;
      height: 28px;
      padding: 3px;
      font-size: 14px;
   }
   #toDoListContent {
      height: 140px;
   }
}
